.header{
    display: flex;
    justify-content: center;
    background-color: cadetblue;
}
h1{
    
    font-family: "Bodoni Moda SC", serif;
    font-weight: 400;
    font-style: italic;
    color: antiquewhite
    
    
}
body{
    padding: 0vh;
    margin: 0vh;
    background-color: grey
}



@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@1,6..96,400..900&family=Rubik+Mono+One&display=swap');



.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    
}
form{
    background-color: cadetblue;
    height: 40vh;
    width: 50vh;
    justify-content: center;
    border-radius: 15px;
    border-style: solid;
    border-color: antiquewhite;
    box-shadow: 15px 15px 8px rgb(0, 0, 0, 0.5);
}
.conteudo{
    margin-top: 5vh;
}
.btns{
    margin-left: 3vh;
    margin-top: 4vh;
}
button{
    height: 5vh;
    border-radius: 5px;
    border-color: antiquewhite;
    transition: 1s;
    cursor: pointer;
    color: cadetblue;
    margin-left: 10vh;
    font-family: "Rubik Mono One", monospace;
    font-size:  medium;
}
button:hover{
    background-color: cadetblue;
    color: antiquewhite;
    transition: 1s;
    cursor: pointer;
    font-family: "Rubik Mono One", monospace;
}
label{
    justify-content: center;
    display: flex;
    font-family: "Rubik Mono One", monospace;
    color: antiquewhite;
    font-size: large;
    
}
input{
    margin-left: 16vh;
    margin-top: ;
    border-radius: 5px;
    box-shadow: 10px 10px 13px rgb(0, 0, 0, 0.7) ;
    border-color: white;
}